* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #0C325A;
  height: 450px;
  width: 100%;
  background-image: url(../img/oldman.png);
  background-position: 100% 100%;
  background-repeat: repeat;
  background-size: 800px;
  background-repeat: no-repeat;

}

.header-top {
  width: 85%;
  margin: auto;
  content: "";
  display: table;
  clear: both;
}

/* menu */
.header-menu-left{
  float: left;
  height: 80px;
  line-height: 80px;
}
.menu-top-left,.menu-top-right{
  line-height: 80px;
  vertical-align: middle;
  list-style: none;
}
.logo-menu{
  width: 100px;
  vertical-align: middle;
}

.menu-top-left li{
  display: inline-block;
}

.menu-top-left a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 5px;
  font-size: 12px;
}
.menu-top-right li{
  display: inline-block;
  padding: 8px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}
.menu-top-right a{
  text-decoration: none;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  color: white;
}
.struttura {
  background-color:lightgreen;
}
.header-menu-right{
  float: right;
}
/* menu */
/* title h1 */
.container-title {
  position: relative;
  width: 85%;
  height: 370px;
  margin: auto;
}
.title {
  color: white;
  width: 40%;
  position:absolute;
  left:0;
  top:50%;
  transform: translateY(-50%;);
}
h1 {
  font-weight: bolder;
  margin-bottom: 20px;
}
.title a{
  text-decoration: none;
  color: white;
  border: 1px solid;
  padding: 5px;
  border-radius: 4px;
  background-color: lightgreen;
}
/* title h1 */
/* main */
.top-main {
  position: relative;
  background-color: lightgrey;
  width: 100%;
  height: 100px;
}
.title-top-main {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
}
.title-top-main h2 {
  padding-bottom: 5px;
}
/* colonne fluttuanti */
.float-tre-colon {
  position: relative;

  width: 85%;
  margin:auto;
}
.float-colon {
  float: left;
  width: calc(100%/3);
  position: relative;
  text-align: center;
}

.float-colon img {
  height: 90px;
  text-align: center;
}
.float-tre-colo hr {
  padding:40%;
}
h3 {
  color: lightgreen;
  padding: 5px 0;
  text-align: center;
  width: 90%;
}
.float-colon {
  padding: 5px;
  text line-height: 25px;
  color: lightgrey;

}
/* /chiusura float  */
.float-bottom {
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
.float-under img {
  height: 400px;
}
.float-under {
  float: left;
  width: 50%;

}
.float-under h2 {
  width: 60%;
  margin:10px 0px;
}
.float-under p{
  color: lightgrey;
  line-height: 25px;
  margin-bottom: 10px;
}
/* /margin */
/* footer */
footer{
  width: 100%;
  height: 120px;
  background-color: lightgrey;
  content: "";
  display: table;
  clear: both;
}
.float-footer {
  float: left;
  width: 20%;
}
.float-footer-left{
  width: 60%;
}
.float-footer ul{
  list-style: none;
}
.visualizza {
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid;

  background-color: lightgreen;
  color: white;
}
.help {

  border: 1px solid;
  border-radius: 4px;
  background-color: lightgreen;
  color: white;
}
.float-footer li{
  display: block;
  margin: 10px 0;
}
